# Virtual Environment
venv/

# Python Cache Files
__pycache__/
*.py[cod]

# Scrapy Output Files
*.json
*.csv
*.xml

# Except for sample_data.json
!sample_data.json

# Logs and Debug Files
*.log
*.out
*.err

# System Files
.DS_Store
Thumbs.db

# Environment Variables and Credentials
.env
